* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.about-container {
    border: 1px solid black;
    margin: 3.5rem;
    padding: 3.5rem;
}

.about-img-container {
    text-align: center;
}

.about-img {
    height: 150px;
    width: 150px;
    border-radius: 5%;
}

.title {
    font-size: 1rem;
    font-weight: bolder;

}

.skill-heading {
    font-weight: 600;
    font-size: 1.1rem;
    margin: 2rem 0 0 0;
}
.progress-bars{
    margin: 1rem 0  1rem 0;
}
.progress-text{
    display: flex;
    justify-content: space-between;
}